<div
    class="bg-zinc-900 flex justify-evenly py-10 flex-col text-center gap-4 md:flex-row md:text-left"
>
    <div class="footer-col">
  
    </div>
    <div class="footer-col">
        <h4 class="font-bold">Cookbook Alfa 2023</h4>
    </div>
    <div class="footer-col">
   
    </div>
</div>
