---
import { projects } from "../../config/projects.json";
---

{
    projects.map((project) => (
        <div class="flex flex-col md:flex-row text-center md:text-left mb-3">
            <div class="flex-1 p-4">
                <h2 class="font-bold text-2xl my-5">Documento 1</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Soluta, eos. Repellat magnam maiores maxime in voluptate
                
                </p>
                <button class="bg-indigo-500 mt-2 px-5 py-2 hover:bg-indigo-400">Ir</button>
            </div>
            <div class="flex-1">

            </div>
        </div>
    ))
}
